
.home {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    overflow: hidden; 
    background-color: black; 
    
  }
  
  
  .hero-section {
    flex: 0 0 95%; 
  }
  

  .footer {
    flex: 0 0 5%; 
  }
  